<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Food Bridge{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
     <!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    body{
        font-family: 'Poppins', sans-serif;
        background:#F8FAFC;
    }
</style>
    
</head>
<body>
    <button id="openSidebar"
class="fixed top-4 left-4 bg-emerald-600 text-white px-3 py-2 rounded-lg z-50">
☰
</button>


{% include 'sidebar.html' %}
{% block content %}

{% endblock %}

<script>
document.addEventListener("DOMContentLoaded", function () {

const sidebar = document.getElementById("sidebar");
const openBtn = document.getElementById("openSidebar");
const closeBtn = document.getElementById("closeSidebar");
const toggle = document.getElementById("darkToggle");

openBtn.addEventListener("click", function () {
    sidebar.classList.remove("-translate-x-full");
});

closeBtn.addEventListener("click", function () {
    sidebar.classList.add("-translate-x-full");
});

});

tailwind.config = {
    darkMode: 'class'
}


// Page load hone par theme apply karo
if (localStorage.getItem("theme") === "dark") {
    document.documentElement.classList.add("dark");
    if (toggle) toggle.checked = true;
}

// Toggle button par click
if (toggle) {
    toggle.addEventListener("change", function () {
        if (this.checked) {
            document.documentElement.classList.add("dark");
            localStorage.setItem("theme", "dark");
        } else {
            document.documentElement.classList.remove("dark");
            localStorage.setItem("theme", "light");
        }
    });
}
</script>
</body>
</html> 